.cat-nav {
  border: 1px solid black;
  width: 10%;
  background: white;
  border-radius: 5px;

  .cat-nav-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
  }

  .button {
    width: 100%;
    cursor: pointer;
   }
}

.cat-item {
  border: 1px solid black;
  background: #fff;
  margin: 1em;
  padding: 1em;
}

.form-field {
  display: block;
  margin-bottom: 1em;
}

.close-button {
  cursor: pointer;
  float: right;
}

input {
  margin-left: .5em;
}

form {
  padding: 1em;
}
